#molecule-1 {
	animation: float-1 7s ease-in-out infinite;
}
#molecule-2 {
	animation: float-2 7s ease-in-out infinite;
}
#molecule-3 {
	animation: float-3 7.5s ease-in-out infinite;
}

@keyframes float-1 {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes float-2 {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes float-3 {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-35px);
	}
	100% {
		transform: translateY(0px);
	}
}