@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Kanit', sans-serif;
	background-color: #161b22;
}

html {
	scroll-behavior: smooth;
}

nav {
/*	display: flex;
	justify-content: space-around;*/
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 75px;
	border-bottom: 2px solid #ededed;
	background-color: #161b22
}

nav .logo {
	margin-right: auto;
	font-size: 1.5rem;
	line-height: 75px;
	padding: 0 25px;
	color:  #ededed 
}

a {
	text-decoration: none;
}

svg {
	max-width: 100%;
	height: auto;
}

img {
	max-width: 100%;
	height: auto;
}

input[type="checkbox"]{
  display: none;
}

.nav-wrapper {
	position: fixed;

	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background:  #1d1d1d;
	clip-path: circle(25px at calc(100% - 45px) 35px);
	transition: all 0.3s ease-in-out;
}

#active:checked ~ .nav-wrapper{
  clip-path: circle(75%);
}

.nav-wrapper ul {
	list-style: none;
	text-align: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)

}
.nav-wrapper ul li {
	/*display: inline-block;
	padding: 0px 15px;*/

	margin: 25px 0;
}
.nav-wrapper ul li a {
	color: #ededed;
	font-size: 40px;
	font-weight: 500;
	transition: color 0.3s linear
}

.nav-wrapper ul li a:hover {
	border-bottom: 1px solid #00EDFF;
	color: #00EDFF
}

/*ul li.nav-link {
	display: none;
}*/

.hamburger {
	position: absolute;
	z-index: 2;
	right: 20px;
	top: 10px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;

	font-size: 20px;
	background-color:#161b22;
	color: #ededed;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

#active:checked ~ .hamburger{
  background: #fff;
  color: #161b22;

}
#active:checked ~ .hamburger i:before{
  content: "\f00d";
}

#main {
	width: 100%;
	color: #ededed;
	padding: 3rem 0rem;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 1rem;
	margin-top: 3.8rem;

}
.landing-page-text {
	text-align: center;
	margin-bottom: 1.5rem;
}
.landing-page-text h1, 
.landing-page-text h2 {
	font-size: 2rem;
	margin-bottom: 1rem
}
.landing-page-text p {
	font-size: 1rem;
	margin-bottom: 2rem; 
}
.landing-page-img {
	margin-top: 4rem
}

.btn {
	border-radius: 10px;
	border: 1px solid #00EDFF; 
	background-color: #1f2230;
	padding: 10px 30px;
	color:  #00EDFF;
	box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
	transition: all 0.4s ease-in
}
.btn:hover {
	background-color: #00EDFF;
	color: #1f2230; 
}

#portfolio {
	position: relative;
	width: 100%;
	color: #ededed;
	padding: 5rem 0.5rem;
}
.portfolio-heading {
	text-align: center;
}
.portfolio-heading h1 {
	font-size: 2rem;
	letter-spacing: 2px;
	color: #00EDFF;
}
.project-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-bottom: 4rem;
	background: #161b22;
}
.p-img img {
	text-align: center;
	max-width: 100%;
	height: auto
}
.p-description {
	text-align: center;
	position: relative;
	padding: 2rem;
	width: 350px;
	box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
	
}
.p-description h1 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
	letter-spacing: 1px;
	color: #00EDFF;
}
.p-tech {
	margin-bottom: 2rem;
}
.p-tech h2 {
	font-size: 1.25rem;
	margin: 0.5rem 0rem;
	letter-spacing: 1px;
	color: #00EDFF;
}
.visit-btn {
	background-color:#1f2230;
	color: #00EDFF;
	font-size: 1.25rem;
	border: 1px solid #00EDFF; 
	border-radius: 20px;
	padding: 10px 30px;
	width:  125px;
	margin-top: 2rem;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	transition: all 0.4s ease-in
}
.visit-btn:hover {
	background-color: #00EDFF;
	color: #1f2230; 
}

@media (min-width: 576px) {
	.landing-page-text h1, 
	.landing-page-text h2 {
		font-size: 2.75rem;
	}
	.landing-page-text p {
		font-size: 1.25rem;
	}
	.btn {
		font-size: 1.25rem
	}
	.p-description {
		width: 50%;	
	}
}

@media (min-width: 768px) {
	.landing-page-text h1, 
	.landing-page-text h2 {
		font-size: 3rem;
	}
	.landing-page-text p {
		font-size: 1rem;
	}
	.btn {
		font-size: 1rem
	}
	.landing-page-text {
		text-align: left;
	}
	.landing-page-img {
		margin-top: 0rem
	}

	/*ul li.nav-link {
		display: inline-block;
	}
	ul li.hamburger {
		display: none
	}*/
	.hero {
		flex-direction: row;
		justify-content: space-evenly;
	}
	
}

@media (min-width: 1040px) {
	nav .logo {
		font-size: 1.75rem
	}
	ul li.nav-link {
		font-size: 1.25rem
	}
	.landing-page-text h1, 
	.landing-page-text h2 {
		font-size: 3.5rem;
		letter-spacing: 2px
	}
	.landing-page-text h2 {
		margin: 20px 0px;
	}
	.landing-page-text p {
		font-size: 1.5rem;
	}
	.btn {
		font-size: 1.5rem
	}

}


