@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Kanit', sans-serif;
	background-color: #202229;
}

html {
	scroll-behavior: smooth;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 10px 100px;
	/*position: fixed;
	width: 100%;
	top: 0;*/
	
}

nav .logo {
	margin-right: auto;
	font-size: 1.5rem
}

a {
	text-decoration: none;
	color: #ededed /*#00EDFF*/;
}

ul {
	list-style: none
}

ul li {
	display: inline-block;
	padding: 0px 15px;
}

ul li.nav-link {
	display: none;
}

ul li.hamburger {
	font-size: 1.5rem
}

svg {
	max-width: 100%;
	height: auto;
}

#main {
	width: 100%;
	color: #ededed /*#00EDFF*/;
	padding: 1rem 0rem;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:3rem 1rem;
	margin-top: 1rem;
}

.landing-page-text {
	text-align: center;
}
.landing-page-text h1, 
.landing-page-text h2 {
	font-size: 2rem;
	margin-bottom: 1rem
}
.landing-page-text p {
	font-size: 1rem;
	margin-bottom: 2rem; 
}
.landing-page-img {
	margin-top: 4rem
}

.btn {
	border-radius: 10px;
	border: 1px solid #00EDFF; 
	background-color: #1f2230;
	padding: 10px 30px;
	color:  #00EDFF;
	box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
}

#portfolio {
	position: relative;
	width: 100%;
	color: #ededed;
	padding: 3rem 2rem;
}
.portfolio-heading {
	text-align: center;
}
.portfolio-heading h1 {
	font-size: 2rem;
	letter-spacing: 2px;
}
.project-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 3rem;
	padding: 4rem 2rem;
	background: #202229;
	box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
}
.p-img img {
	text-align: center;
	max-width: 100%;
	height: auto
}
.p-description {
	text-align: center;
	position: relative;
	padding: 2rem;
	width: 350px;
	
}
/*.p-description::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 50%;
	background-color: #34323d;
}*/
.p-description h1 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
	letter-spacing: 1px
}
.p-tech {
	margin-bottom: 2rem;
}
.p-tech h2 {
	font-size: 1.25rem;
	margin: 0.5rem 0rem;
	letter-spacing: 1px
}
.visit-btn {
	background-color:#1f2230;
	color: #00EDFF;
	font-size: 1.25rem;
	border: 1px solid #00EDFF; 
	border-radius: 20px;
	padding: 10px 30px;
	width:  125px;
	margin-top: 2rem;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	transition: all 0.4s ease-in
}
.visit-btn:hover {
	background-color: #00EDFF;
	color: #1f2230; 
}

@media (min-width: 576px) {
	.landing-page-text h1, 
	.landing-page-text h2 {
		font-size: 2.75rem;
	}
	.landing-page-text p {
		font-size: 1.25rem;
	}
	.btn {
		font-size: 1.25rem
	}
}

@media (min-width: 768px) {
	.landing-page-text h1, 
	.landing-page-text h2 {
		font-size: 2.25rem;
	}
	.landing-page-text p {
		font-size: 1rem;
	}
	.btn {
		font-size: 1rem
	}
	.landing-page-text {
		text-align: left;
	}
	.landing-page-img {
		margin-top: 0rem
	}

	ul li.nav-link {
		display: inline-block;
	}
	ul li.hamburger {
		display: none
	}
	.hero {
		flex-direction: row;
		justify-content: space-evenly;
		/*padding: 1.25rem 1rem;*/
		margin-top: 1rem;
	}
	
}

@media (min-width: 1040px) {
	nav .logo {
		font-size: 1.75rem
	}
	ul li.nav-link {
		font-size: 1.25rem
	}
	.landing-page-text h1, 
	.landing-page-text h2 {
		font-size: 2.75rem;
		letter-spacing: 2px
	}
	.landing-page-text h2 {
		margin: 20px 0px;
	}
	.landing-page-text p {
		font-size: 1.5rem;
	}
	.btn {
		font-size: 1.5rem
	}

	.project-container {
		flex-direction: row;
		justify-content: space-evenly;
		/*box-shadow: none;
		background: none;*/

	}
	.p-description {
		text-align: left;
		/*background: linear-gradient(90deg, #34323d 50%, #1f2126 50%);
		box-shadow: 0 2px 3px rgb(0 0 0 / 50%);*/
	}


}


