@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Kanit', sans-serif;
}

html {
	scroll-behavior: smooth;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 10px 5%;
}

nav .logo {
	margin-right: auto;
	font-size: 1.5rem
}

a {
	text-decoration: none;
	color: #B1EAB9;
}

ul {
	list-style: none
}

ul li {
	display: inline-block;
	padding: 0px 15px;
}

ul li.nav-link {
	display: none;
}

ul li.hamburger {
	font-size: 1.5rem
}

img {
	max-width: 100%;
	height: auto;
}

#main {
	width: 100%;
	background-color: #292E40;
	color: #B1EAB9;
	padding: 1rem 2rem;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:1.75rem;

}
.landing-page-text {
	text-align: center;
}
.landing-page-text h1, h2 {
	font-size: 2.5rem;
}
.landing-page-text p {
	font-size: 1rem;
	margin-bottom: 1.5rem; 
}
.landing-page-img {
	margin-top: 2.5rem
}

.btn {
	border-radius: 10px;
	background-color: #F7CB3F;
	padding: 10px 30px;
	color: #333;
	box-shadow: 0 2px 3px rgb(0 0 0 / 50%);
}

@media (min-width: 576px) {
	.landing-page-text h1, h2 {
		font-size: 2.75rem;
	}
	.landing-page-text p {
		font-size: 1.25rem;
	}
	.btn {
		font-size: 1.25rem
	}
}

@media (min-width: 768px) {
	ul li.nav-link {
		display: inline-block;
	}

	ul li.hamburger {
		display: none
	}

	.hero {
		flex-direction: row;
		justify-content: space-around;
	}
	.landing-page-text {
		text-align: left;
	}
	.landing-page-img {
		margin-top: 0.5rem
	}
}

@media (min-width: 1040px) {
	.landing-page-text h1, h2 {
		font-size: 3.25rem;
		letter-spacing: 2px
	}
	.landing-page-text h2 {
		margin: 20px 0px;
	}
	.landing-page-text p {
		font-size: 1.5rem;
	}

	.btn {
		font-size: 1.5rem
	}
}

#about {
	background-color: #d1d1d1;
}